#root {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-evenly;
  margin: 5px 5px;
}

.light-container {
  align-items: center;
  background-color: #000;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 10px;
}

.light-container--vertical {
  flex-direction: column;
}

.light {
  --size: 50px;
  background-color: #555;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size);
}
